---
interface Props {
  menu: {
    name: string
    description?: string
    items?: {
      name: string
      description?: string
      price?: string
      type?: string
      options?: string[]
      sizes?: {
        name: string
        price: string
      }[]
    }[]
    sizes?: {
      name: string
      price: string
    }[]
    options?: {
      name: string
      items: string[]
    }[]
  }
}
const { menu } = Astro.props
---

<div
  class="menu-group"
  data-full-width={menu.name === 'Specialty Pizza' ||
    menu.name === 'Breakfast' ||
    menu.name === 'Breakfast Add-Ons'}
>
  <h4>{menu.name}</h4>
  {menu.description && <h5>{menu.description}</h5>}

  {
    menu.sizes && (
      <ul class="price-list">
        {menu.sizes.map((size) => (
          <li>
            <span class="name">{size.name}</span>
            <span class="price">{size.price}</span>
          </li>
        ))}
      </ul>
    )
  }

  {
    menu.items?.map((item) => (
      <ul class="menu-items">
        <li>
          <span>
            <span class="name">{item.name}</span>
            {item.description && <span class="description">{item.description}</span>}
          </span>
          {item.type === 'multi-select' && (
            <ul class="multi-select">
              {item.options?.map((option) => (
                <li>{option}</li>
              ))}
            </ul>
          )}
          {item.sizes && (
            <ul class="sizes">
              {item.sizes.map((size) => (
                <li>
                  <span class="name">{size.name}</span>
                  <span class="price">{size.price}</span>
                </li>
              ))}
            </ul>
          )}
          {item.price && <span class="price">{item.price}</span>}
        </li>
      </ul>
    ))
  }

  {
    menu.options?.map((option) => (
      <ul class="menu-items">
        <li>
          <span class="name">{option.name}</span>
          <ul class="options">
            {option.items.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        </li>
      </ul>
    ))
  }
</div>

<style>
  .menu-group {
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;

    h4 {
      text-align: center;
      font-family: 'Libre Baskerville', sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
    }

    h5 {
      text-align: center;
      font-weight: normal;
      font-family: 'Montserrat', sans-serif;
      max-width: 80%;
      margin: 0 auto;
    }

    &[data-full-width='true'] {
      grid-column: 1 / 3;
    }
  }

  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0;
      gap: 1rem;
    }

    .description {
      font-size: 0.8rem;
      display: block;
    }
  }
</style>
