---
import { Image } from 'astro:assets'

interface Props {
  title: string
  description: string
  image: {
    src: ImageMetadata
    alt: string
  }
  href: string
}
const { title, description, image, href } = Astro.props
---

<a class="product-category-header" href={href}>
  <Image src={image.src} alt={image.alt} class="product-image" />

  <h2>{title}</h2>
  <h3>{description}</h3>
</a>

<style>
  .product-category-header {
    grid-area: 1 / 1 / 2;
    position: relative;

    h2 {
      text-transform: uppercase;
      text-shadow: 0 0 1px var(--light-color);
      color: var(--dark-color);
      font-size: min(7.5vw, 44px);
      line-height: 1;
      padding-inline: 0.5rem;
      padding-block-start: min(3vw, 1.25rem);
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    h3 {
      font-size: min(3vw, 14px);
      color: var(--dark-color);
      font-family: 'Libre Baskerville', sans-serif;
      font-style: italic;
      padding-block: 0.5rem;
      text-transform: capitalize;
    }

    &:hover {
      .product-image {
        opacity: 0.5;
      }
    }
  }

  .product-image {
    max-height: 200px;
    height: 25cqw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);

    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    filter: blur(1px);
    transition: opacity 0.3s ease;
  }
</style>
